[tool.poetry]
name = "philipstv"
version = "0.2.0"
description = "CLI and library to control Philips Android-powered TVs."
license = "MIT"
authors = ["Bazyli Cyran <bazyli@cyran.dev>"]
readme = "README.rst"
repository = "https://github.com/bcyran/philipstv"
documentation = "https://philipstv.readthedocs.io"
keywords = ["cli", "tv", "api-wrapper", "philips", "ambilight"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Intended Audience :: End Users/Desktop",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Typing :: Typed"
]


[tool.poetry.scripts]
philipstv = "philipstv.__main__:wrapped_cli"

[tool.poetry.dependencies]
python = "^3.9"
requests = "^2.27.1"
pydantic = "^1.9.0"
click = { version = "^8.0.3", optional = true }
appdirs = { version = "^1.4.4", optional = true }
Sphinx = { version = "^4.4.0", optional = true }
furo = { version = "^2022.2.14", optional = true }
enum-tools = {extras = ["sphinx"], version = "^0.9.0", optional = true }

[tool.poetry.extras]
cli = ["click", "appdirs"]
docs = ["sphinx", "furo", "enum-tools"]

[tool.poetry.dev-dependencies]
pytest = "^7.0.0"
black = "^22.1.0"
mypy = "^0.931"
flake8 = "^4.0.1"
isort = "^5.10.1"
tox = "^3.24.5"
types-requests = "^2.27.8"
tox-poetry = "^0.4.1"
requests-mock = "^1.9.3"
pytest-cov = "^3.0.0"
types-appdirs = "^1.4.2"
sphinx-autobuild = "^2021.3.14"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
strict = true
show_error_codes = true
plugins = [
    "pydantic.mypy"
]

[tool.black]
line-length = 100

[tool.isort]
profile = "black"
line_length = 100

[tool.coverage.run]
source = ["philipstv"]
omit = [
    "src/philipstv/__main__.py"
]

[tool.coverage.report]
show_missing = true
skip_covered = true
skip_empty = true
exclude_lines = [
    "raise NotImplementedError",
    "pass"
]
